@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Montserrat", sans-serif;
}

.btn:hover {
    transform: scale(1.01);
    animation: ease;
}

.glow {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 1.5rem
}

.glow:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    /*background: linear-gradient(45deg, #ff0000, #800000, #B22222, #8B0000, #ff0000, #DC143C, #800000, #B22222, #ff0000);*/
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    border-radius: 1.5rem
}

.glow:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111111;
    left: 0;
    top: 0;
    border-radius: 1.5rem
}

.glow:hover:after {
    background: #040404;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}